{{ define "main" }}
<main>
  <h1>Pengembangan Pribadi</h1>
  <section id="books-read">
    <h2>Buku yang Dibaca</h2>
    <ul id="books-read-list"></ul>
    <form id="books-read-form">
      <input type="text" id="books-read-input" placeholder="Tambah Buku yang Dibaca">
      <button type="submit">Tambah</button>
    </form>
  </section>

  <section id="courses-taken">
    <h2>Kursus yang Diikuti</h2>
    <ul id="courses-taken-list"></ul>
    <form id="courses-taken-form">
      <input type="text" id="courses-taken-input" placeholder="Tambah Kursus yang Diikuti">
      <button type="submit">Tambah</button>
    </form>
  </section>

  <section id="hobbies-interests">
    <h2>Hobi dan Minat</h2>
    <ul id="hobbies-interests-list"></ul>
    <form id="hobbies-interests-form">
      <input type="text" id="hobbies-interests-input" placeholder="Tambah Hobi atau Minat">
      <button type="submit">Tambah</button>
    </form>
  </section>
</main>
<script type="module" src="{{ "js/pengembangan-pribadi.js" | relURL }}"></script>
{{ end }}