/* Bagian Footer */
.site-footer {
    background-color: #2A9D8F;
    padding: 50px 0;
    color: white;
    font-size: 0.9rem;
}

.site-footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-footer .footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.site-footer .footer-section {
    margin: 20px 0;
}

.site-footer .logo-branding {
    flex: 1;
    min-width: 100px;
    text-align: left;
}

.site-footer .footer-sections {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-footer .footer-section h4 {
    margin-bottom: 10px;
}

.site-footer .logo-branding p {
    margin: 10px 0 0;
    font-size: 1.1rem;
    color: #fff;
}

.site-footer .quick-links ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.site-footer .quick-links ul.no-bullets li {
    margin-bottom: 10px;
}

.site-footer .quick-links ul.no-bullets li a {
    color: white;
    text-decoration: none;
}

.site-footer .quick-links ul.no-bullets li a:hover {
    text-decoration: underline;
}

.site-footer .social-media a {
    color: white;
    display: inline-block;
    margin: 5px;
}

.site-footer .social-media a:hover {
    text-decoration: underline;
}

.site-footer .copyright {
    text-align: center;
    margin-top: 20px;
}

/* Responsivitas Footer */
@media (max-width: 768px) {
    .site-footer .footer-grid {
        flex-direction: column;
        align-items: center;
    }

    .site-footer .logo-branding,
    .site-footer .footer-sections {
        text-align: center;
    }

    .site-footer .footer-sections {
        flex-direction: column;
    }

    .site-footer .logo-branding {
        margin-bottom: 20px;
    }
}