<header class="site-header">
  <div class="container">
      <div class="logo">
          <a href="/"><img src="/img/logoAparencanamu.svg" alt="Logo Aparencanamu"></a>
      </div>
      <nav class="nav-menu">
          <ul>
              <li><a href="/">Beranda</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Layanan</a>
                  <div class="dropdown-content">
                      <a href="/kesehatan-kebugaran">Kesehatan dan Kebugaran</a>
                      <a href="/pengembangan-diri">Pengembangan Diri</a>
                      <a href="/sosial-komunitas">Sosial Komunitas</a>
                  </div>
              </li>
              <li><a href="/profil">Profilku</a></li>
              <li><a href="#" class="logout-link">Logout</a></li>
          </ul>
      </nav>
      <div class="header-buttons">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
  <div id="mobile-menu" class="dropdown-menu">
      <ul>
          <li><a href="/">Beranda</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/kesehatan-kebugaran">Kesehatan dan Kebugaran</a></li>
          <li><a href="/pengembangan-diri">Pengembangan Diri</a></li>
          <li><a href="/sosial-komunitas">Sosial Komunitas</a></li>
      </ul>
      <a id="mobile-profile-button" class="btn-profilku" href="/profil">Profilku</a>
      <button id="mobile-logout-button" class="btn-logout">Logout</button>
  </div>
</header>