<!-- static/partials/header_logged_in.html -->
<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/img/logo-aparencanamu.png" alt="Logo Aparencanamu"></a>
        </div>
        <div class="header-buttons">
            <a id="profile-button" class="btn-profilku" href="/profil">Profilku</a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/kesehatan-kebugaran">Kesehatan dan Kebugaran</a></li>
                <li><a href="/pengembangan-pribadi">Pengembangan Pribadi</a></li>
                <li><a href="/sosial-komunitas">Sosial Komunitas</a></li>
            </ul>
        </nav>
    </div>
    <div class="dropdown-menu">
        <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/kesehatan-kebugaran">Kesehatan dan Kebugaran</a></li>
            <li><a href="/pengembangan-pribadi">Pengembangan Pribadi</a></li>
            <li><a href="/sosial-komunitas">Sosial Komunitas</a></li>
            <li id="dropdown-logout-button"><button class="btn-logout">Logout</button></li>
        </ul>
    </div>
</header>