<header class="site-header">
  <div class="container">
      <div class="logo">
          <a href="/"><img src="/img/logoAparencanamu.svg" alt="Logo Aparencanamu"></a>
      </div>
      <nav class="nav-menu">
          <ul>
              <li><a href="/">Beranda</a></li>
              <li><a href="/about">Tentang Kami</a></li>
              <li><a href="/features">Fitur</a></li>
              <li><a href="/contact">Kontak</a></li>
          </ul>
      </nav>
      <div class="header-buttons">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
  <div id="mobile-menu" class="dropdown-menu">
    <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/about">Tentang Kami</a></li>
        <li><a href="/features">Fitur</a></li>
        <li><a href="/contact">Kontak</a></li>
    </ul>
    <a id="mobile-auth-login-button" class="btn-masuk" href="/masuk">Masuk</a>
  </div>
</header>